[Desktop Entry]
Version=1.1
Type=Application
Name=SQLcells
Icon=application-x-sql
Exec=python3 sqlcells.py
Path=
Actions=
Categories=Development;
StartupNotify=true